<h1>This is the story of the Time Cards</h1>
<table>
	<tr>
        <td>Legend has it that there was once a fellow by the name of James that forgot to submit and approve his timecards once.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time1.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>The following Monday, he went about his day  the usual way, starting the morning off with a cup of coffee and walking to his office with a smile on his face.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time2.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He walked into his room only to find there was no chair. Looking closer, there was a chair…but it had been shrunk down to the size of a mouse!</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time3.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>James was completely baffled, so he walked over to his mentor’s office to see if he could get some answers there.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time5.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>The door was closed, lights were off, and his mentor was nowhere to be found. Disappointed, he ventured back to his office.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time6.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>As he walked in, he turned quickly to notice that this time his door was missing! </td>
    </tr>
    <tr>
        <td><img src="/assets/images/time7.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>“Was that gone earlier too?” he thought.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time8.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He was starting to get spooked, but he knew he had responsibilities.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time9.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>So, he walked over to his desk, awkwardly stood hunched over his keyboard and house, and logged in.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time10.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>James opened Outlook for his morning email check, and noticed he had quite a few more emails than normal.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time11.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>As he read through them, his heart sunk.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time12.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>“We have not received an approved timecard from you Mr. James”, “Mr. James, we are still waiting on an approved timecard”, “This is your final warning Mr. James, we must have an approved timecard or further actions will be taken.”</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time13.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He hovered his mouse over the final email, sent early this morning. “You’re dead kiddo.” was all it read.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time14.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>James quickly locked his computer(because he doesn’t want to get baggy pants’d) and ran out of his office into the hallway.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time15.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He looked into every office, desperately trying to find another soul in the office, but every door was wide open with no one in it.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time16.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He got to the elevators, but the call button did not light up and no elevator opened. He pressed every button, still nothing.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time17.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He rushed to the stairs, but they were also locked.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time18.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He looked around in confusion, hoping to see a bunch of people pop up, shouting out that it was all just a prank.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time19.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>But it was dead silent.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time20.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He stood still for a few seconds, hearing nothing but his heavy breathing.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time21.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He needed to calm down.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time22.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He walked slowly back to his office.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time23.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>The choices were clear.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time24.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He walked into his office, hunched over his keyboard and mouse again, unlocked his computer, and opened up iportal.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time25.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He navigated to the employee portal, and from there he accessed eTime.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time26.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He filled out his hours, and he saved them and the pressed Approve.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time27.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He watched as the loading bar circled and circled, seemingly forever. But then, after what felt like a lifetime, the words across the screen read, “Your timecard has been approved!”</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time28.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>A sigh of relief fell over him, and he fell back.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time29.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>But he fell into his chair. It was full sized again! And his door was back! He ran out into the hallway, and everyone was in their offices just like normal!</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time30.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>The day had been saved! It was some horrid nightmare!</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time31.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>Or…was it real?</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time32.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>He would never know.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time33.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>But one thing was certain.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time34.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>James would never forget to approve his timecard again.</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time35.jpg" alt="Timecards"></td>
    </tr>
    <tr>
        <td>Don't forget folks!</td>
    </tr>
    <tr>
        <td><img src="/assets/images/time36.jpg" alt="Timecards"></td>
    </tr>
</table>