
<nav id="nav">
  <ul>
    <tr>MENU</tr>
    <tr><a href="#section1" >Hivemind Leaders</a></tr>
    <tr><a href="#section2" >Activities</a></tr>
    <tr><a href="#section3" >Helpful Info</a></tr>
    <tr><a href="#section4" >Voting App</a></tr>
    <tr><a href="#section5" >Legends</a></tr>
  </ul>
</nav>

<section  id="section1" >
  <h1>Hivemind Leaders</h1>
  
  <table>
    <thead>
        <tr>
            <th>Role</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hive Lord</td>
            <td>Royce Nettles</td>
            <td>royce.nettles@adtran.com</td>
        </tr>
        <tr>
            <td>Lunch Captain</td>
            <td>Alex "Lee" Ward</td>
            <td>alex.ward@adtran.com</td>
        </tr>
        <tr>
            <td>Game Captain</td>
            <td>Ben Williams</td>
            <td>benjamin.williams@adtran.com</td>
        </tr>
        <tr>
            <td>Trivia Captain</td>
            <td>Gary Pike</td>
            <td>gary.pike@adtran.com</td>
        </tr>
        <tr>
            <td>Frosbee Captain</td>
            <td>Jack Missildine</td>
            <td>jack.missildine@adtran.com</td>
        </tr>
        <tr>
            <td>Volleyball Captain</td>
            <td>Chris Stidham</td>
            <td>chris.stidham@adtran.com</td>
          <tr>
            <td>Ping Pong Captain</td>
            <td>Brandon Tucker</td>
            <td>brandon.tucker@adtran.com</td>
        </tr>
    </tbody>
</table>


</section>

<section  id="section2" >
  <h2>Activities</h2>
  <table>
    <thead>
        <tr>
            <th>Day</th>
            <th>Activity</th>
            <th>Location</th>
            <th>Contact</th>
            <th>Weather</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Monday</td>
            <td>Volleyball</td>
            <td>South Tower Lawn</td>
            <td>chris.stidham@adtran.com</td>
            <td><a href="https://weather.com/weather/hourbyhour/l/USDC0001:1:US">View Status</a></td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>Frosbee</td>
            <td>South Tower Lawn</td>
            <td>jack.missildine@adtran.com</td>
            <td><a href="https://weather.com/weather/hourbyhour/l/USDC0001:1:US">View Status</a></td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>Frosbee</td>
            <td>Floating locations</td>
            <td>benjamin.williams@adtran.com</td>
            <td><a href="https://weather.com/weather/hourbyhour/l/USDC0001:1:US">View Status</a></td>
        </tr>
        <tr>
            <td>Flexible Day</td>
            <td>Trivia</td>
            <td>Floating locations</td>
            <td>gary.pike@adtran.com</td>
            <td><a href="https://weather.com/weather/hourbyhour/l/USDC0001:1:US">View Status</a></td>
        </tr>
    </tbody>
</table>
</section>

<section id="section3" >
  <h2>You're source for all things coop!</h2>
    <table>
        <tr><a href="https://confluence.adtran.com/display/COOP/Onboarding">Confluence Onboarding</a></tr>
        <tr><a href="">Acronyms</a></tr>
        <tr><a href="">Needed info for ALN</a></tr>
        <tr><a href="">Setting up Development Environment</a></tr>
        <tr><a href="">Set up outlook folders</a></tr>
        <tr><a href="aln.html">ALN Enrolling</a></tr>
    </table>
</section>

<section  id="section4" >
  <h2>Wohoo! One more…</h2>
</section>
<section  id="section5" >
  <h2>Legends</h2>
  <body>
    <p>The Legend of the Time Card: <a href="legend_of_time.html">Legend of the Time Cards</a></p>
    <p>The Legend of the Time Card: <a href="legend_of_robert.html">Legend of Robert!</a></p>
  </body>
</section>
