h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: #d34836;
  -webkit-transition: all 650ms cubic-bezier(0.22, 1, 0.25, 1);
  transition: all 650ms cubic-bezier(0.22, 1, 0.25, 1);
}
nav:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.27);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
nav ul {
  position: relative;
  margin: 0;
  z-index: 2;
  text-transform: uppercase;
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 1.35em 0;
  margin-right: 3em;
  font-size: 0.9em;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
}

