<h1> This page is meant to help you enroll in an Adtran Learning Network class.</h1>
        <table>
            <tr>
                <td>After clicking the link Mrs. Hacker just sent please go to the bottom and you should see this:</td>
            </tr>
            <tr>
                <td><img src="/assets/images/aln_1.png" alt="Adtran Class view"></td>
            </tr>
            <tr>
                <td>After checking the class you want you will notice that "Enroll In This Class" will darken. Like so:</td>
            </tr>
            <tr>
                <td><img src="/assets/images/aln_2.png" alt="Adtran Enrolling"></td>
            </tr>
            <tr>
                <td>After you enrolled you will get an email, like so:</td>
            </tr>
            <tr>
                <td><img src="/assets/images/aln_3.png" alt="Adtran Automated Email"></td>
            </tr>
            <tr>
                <td>From here you can add it to your Outlook Calendar and you are finished</td>
            </tr>
        </table>
