<section id="section1">
  <h1>Hivemind Leaders</h1>
  <table>
    <thead>
      <tr>
        <th>Role</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hive Lord</td>
        <td>Royce Nettles</td>
        <td>royce.nettles@adtran.com</td>
      </tr>
      <tr>
        <td>Lunch Captain</td>
        <td>Alex "Lee" Ward</td>
        <td>alex.ward@adtran.com</td>
      </tr>
      <tr>
        <td>Game Master</td>
        <td>Ben Williams</td>
        <td>benjamin.williams@adtran.com</td>
      </tr>
      <tr>
        <td>Trivia Captain</td>
        <td>Gary Pike</td>
        <td>gary.pike@adtran.com</td>
      </tr>
      <tr>
        <td>Frosbee Captain</td>
        <td>Jack Missildine</td>
        <td>jack.missildine@adtran.com</td>
      </tr>
      <tr>
        <td>Volleyball Captain</td>
        <td>Chris Stidham</td>
        <td>chris.stidham@adtran.com</td>
      <tr>
        <td>Ping Pong Captain</td>
        <td>Brandon Tucker</td>
        <td>brandon.tucker@adtran.com</td>
      </tr>
    </tbody>
  </table>


</section>

<section id="section2">
  <h2>Activities</h2>
  <table>
    <thead>
      <tr>
        <th>Day</th>
        <th>Activity</th>
        <th>Location</th>
        <th>Contact</th>
        <th>Weather</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>Volleyball</td>
        <td>South Tower Lawn</td>
        <td>chris.stidham@adtran.com</td>
        <td><a href="https://weather.com/weather/hourbyhour/l/USAL0287:1:US">View Local Weather</a></td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>Frosbee</td>
        <td>South Tower Lawn</td>
        <td>jack.missildine@adtran.com</td>
        <td><a href="https://weather.com/weather/hourbyhour/l/USAL0287:1:US">View Local Weather</a></td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>Game Night</td>
        <td>Floating locations</td>
        <td>benjamin.williams@adtran.com</td>
        <td><a href="https://weather.com/weather/hourbyhour/l/USAL0287:1:US">View Local Weather</a></td>
      </tr>
      <tr>
        <td>Flexible Day</td>
        <td>Trivia</td>
        <td>Floating locations</td>
        <td>gary.pike@adtran.com</td>
        <td><a href="https://weather.com/weather/hourbyhour/l/USAL0287:1:US">View Local Weather</a></td>
      </tr>
    </tbody>
  </table>
</section>

<section id="section3">
  <h2><font size="10">Your source for all things co-op!</font></h2>

  <table>
    <tr><font size="6"><a href="https://confluence.adtran.com/display/COOP/Onboarding">Confluence Onboarding</a></font></tr>
    <tr><font size="6"><a href="https://confluence.adtran.com/display/COOP/Acronyms">Acronyms</a></font></tr>
    <tr><font size="6"><a href="">Set up outlook folders</a></font></tr>
    <tr><font size="6"><a routerLink="/help-page">ADTRAN Learning Network</a></font></tr>
    <tr><font size="6"><a href="https://docs.google.com/spreadsheets/d/12QOl6XmhExjuD_iSQ3TaADtJLSnenzu20MzQZo5txOs/edit?usp=sharing">Co-Op Contact Sheet</a></font></tr>
  </table>
  <table>
    <tr><font size="8"><h3>Development Setup:</h3></font></tr>
    <tr><font size="6"><a href="https://confluence.adtran.com/display/VirtDevEnv/Sienna+Minivan+User+Guide"> Download Sienna Minivan</a></font></tr>
    <tr><font size="6"><a href="https://confluence.adtran.com/display/ComCoreSw/Service+Kit+-+Getting+Started"> Setup Perforce and Docker</a></font></tr>
    <tr><font size="6"><a href="https://confluence.adtran.com/pages/viewpage.action?pageId=15477240"> Setup Perforce for Ubuntu</a></font></tr>
    <tr><font size="6"><a href="https://confluence.adtran.com/display/~mhumes/Printing+on+Ubuntu+16.04"> Setup Printing on Ubuntu</a></font></tr>
  </table>
</section>

<router-outlet></router-outlet>

<section id="section4">
  <h2>Legends</h2>
  <body>
    <table>
      <tr style="color:black;">The Legend of the Time Card: <a routerLink="/legend">Legend of the Time Cards</a></tr>
      <tr style="color:black;">The Legend of the Time Card: <a routerLink="/legend-robert">Legend of Robert!</a></tr>
    </table>
  </body>
</section>
